In [1]:
# range 변수 = range(시작,끝, 증감크기)
# 시퀀스(슬라이싱)자료형 변수 [시작, 끝, 증감크기]

In [2]:
even_numbers = list(range(2,100,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [3]:
type(even_numbers)

list

In [6]:
# range 객체 = 실제로 존재하는 것(메모리상에)
#원하는 시퀀스 항목(요소)
#요소들을 만들어 두는 것이 아니라 필요할 때 그때그때 다음 요소 반환
# 객체 루핑(순서대로 다 꺼냄)할 때 좋음, 무한x 유한일 때

In [7]:
# for i in range(len(문자열)):  파이썬
   # 명령어
# for (int i=0; i < 문자열.length(); i++) {
# 명령어
# } 자바

In [12]:
for n in range(10):
     print(n)
type(n)

0
1
2
3
4
5
6
7
8
9

int

In [14]:
for i in range(3):
    print(f"Hello World{i}")

Hello World0
Hello World1
Hello World2

In [23]:
for i in range(1,101):
    print(f"Hello World {i}")

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10
Hello World 11
Hello World 12
Hello World 13
Hello World 14
Hello World 15
Hello World 16
Hello World 17
Hello World 18
Hello World 19
Hello World 20
Hello World 21
Hello World 22
Hello World 23
Hello World 24
Hello World 25
Hello World 26
Hello World 27
Hello World 28
Hello World 29
Hello World 30
Hello World 31
Hello World 32
Hello World 33
Hello World 34
Hello World 35
Hello World 36
Hello World 37
Hello World 38
Hello World 39
Hello World 40
Hello World 41
Hello World 42
Hello World 43
Hello World 44
Hello World 45
Hello World 46
Hello World 47
Hello World 48
Hello World 49
Hello World 50
Hello World 51
Hello World 52
Hello World 53
Hello World 54
Hello World 55
Hello World 56
Hello World 57
Hello World 58
Hello World 59
Hello World 60
Hello World 61
Hello World 62
Hello World 63
Hello World 64
Hello World 65
Hello World 66
Hello World 67
Hello World 68
Hello World 69
Hello World 70
Hello World 71
Hello World 72
Hello World 73
Hello World 74
Hello World 75
Hello World 76
Hello World 77
Hello World 78
Hello World 79
Hello World 80
Hello World 81
Hello World 82
Hello World 83
Hello World 84
Hello World 85
Hello World 86
Hello World 87
Hello World 88
Hello World 89
Hello World 90
Hello World 91
Hello World 92
Hello World 93
Hello World 94
Hello World 95
Hello World 96
Hello World 97
Hello World 98
Hello World 99
Hello World 100

In [25]:
user=int(input("인사 몇 번 해드릴까요?"))

for user in range(user):
    print("Hello World")

인사 몇 번 해드릴까요? 3

Hello World
Hello World
Hello World

In [26]:
count = int(input("몇번 해"))

for _ in range(1, count+1):
    print("Hello World",_)

몇번 해 3

Hello World 1
Hello World 2
Hello World 3

In [29]:
i = list(range(5,10))
print(i)

[5, 6, 7, 8, 9]

In [31]:
i = list(range(0,10,3))
print(i)

[0, 3, 6, 9]

In [34]:
i = list(range(-10,-100,-30))
print(i)

[-10, -40, -70]

In [55]:
i=int(input("자연수 하나 입력해주세요:"))

for i in range(i,0,-1):
    print(i*"{0}\t".format(i))

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [62]:
i=int(input("자연수 하나 입력해주세요:"))

for i in range(i,0,-1):
    print(f"{i}\t"*i)

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [64]:
int_value = int(input("자연수"))
for i in range(int_value,0,-1):
    for j in range(i):
        print(i, end='\t')
    print()

자연수 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [85]:
for i in range(10):
    if i ==0 or i ==9:
        print("*" * 10)
    else:
        print('*        *')

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [113]:
a=int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
print("1", end='')
result=1
for i in range(3,101,2):
    print(f"+{i}",end='')
    result += i
print(f" = {result}")

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 100

1+3+5+7+9+11+13+15+17+19+21+23+25+27+29+31+33+35+37+39+41+43+45+47+49+51+53+55+57+59+61+63+65+67+69+71+73+75+77+79+81+83+85+87+89+91+93+95+97+99 = 2500

In [ ]:
# 선생님 풀이
a=int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
result = 0
for i in range(1, a+1):
    if i % 2 ==1:
        if (a-1) == i or a ==i:
            print(i,end='=')
        else:
            print(i,end='+')
        result += 1
print(result)

In [119]:
value=int(input("계승을 구할 숫자를 입력하세요."))
result=1
for i in range(2,value+1):
    result*=i
print(result)

계승을 구할 숫자를 입력하세요. 4

24

In [120]:
for _ in ['시', '미', '라', '레', '솔', '도', '파']:
    print(_)

시
미
라
레
솔
도
파

In [121]:
for _ in('파', '도', '솔', '레','미','시'):
    print(_, end=' ')

파 도 솔 레 미 시

In [122]:
for _ in "일이삼사오육칠팔구십":
    print(_, end=" ")

일 이 삼 사 오 육 칠 팔 구 십

In [123]:
for _ in reversed("일이삼사오육칠팔구십"):
    print(_, end=" ")

십 구 팔 칠 육 오 사 삼 이 일

In [126]:
for _ in [10, -42, 25, 103, 21, 77, 24]:
    print(_*10,end=' ')

100 -420 250 1030 210 770 240

In [146]:
n=int(input("구구단을 알려드립니다.숫자를 입력하세요."))
result=0

for _ in range(1,10):    
    result=n*_
    print(f'{n}*{_}={result}')
    # print (n,'*'

구구단을 알려드립니다.숫자를 입력하세요. 9

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [153]:
n=int(input("자연수를 입력해주세요:"))

result=0
for _ in range(1,n+1):
    result += _
print(result)

자연수를 입력해주세요: 100

5050

In [168]:
i='*'
for _ in range(5):
    print(i*5)

*****
*****
*****
*****
*****

In [169]:
for j in range(5):
    for i in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [171]:
# i=0
# while i < 100:
#   print("Hello World")
#   i +=1

In [1]:
i=0
while i < 10:
    print("Hell World")
    i +=1

Hell World
Hell World
Hell World
Hell World
Hell World
Hell World
Hell World
Hell World
Hell World
Hell World

In [3]:
count = int(input("반복할 횟수를 입력하세요:"))

while count > 0:
    print("Hello World",count)
    count -=1

반복할 횟수를 입력하세요: 3

Hello World 3
Hello World 2
Hello World 1

In [20]:
i = 2
while i <= 100:
    print(i,end='\t')
    i += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [31]:
n=int(input("구구단을 알려드립니다.숫자를 입력하세요"))
i = 1

while i<10:
    print(n,'*',i,'=',n*i)
    i += 1

구구단을 알려드립니다.숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [33]:
scores = (97, 100,77)
for _ in range(len(scores)):
    print(scores[_])

97
100
77

In [34]:
scores = (97, 100, 77)
i = 0
while i < len(scores):
    print(scores[i])
    i += 1

97
100
77