In [21]:
a = ['alpha','bravo','charlie','delta','echo','foxtrot','golf','hotel','india']
b = [_ for _ in a if len(_)==5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [18]:
a,b = map(int,input("두 개의 정수를 입력해주세요: ").split())

c = [2**i for i in range(a,b+1) if i != a+1 and i != b+1]
print(c)

두 개의 정수를 입력해주세요:  10 20

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]

In [3]:
while True:
    user1,user2 = map(int,input("두 개의 정수를 입력해주세요: ").split())
    
    if user1>20:
        print("첫번째 값의 범위는 1~20입니다.")
        continue
    elif user2>30 or user2<10:
        print("두번째 값의 범위는 10~30입니다.")
        continue
    elif user1 >= user2:
        print("첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.")
        continue
    else:
        break
n = [2**i for i in range(user1,user2+1)]
print(n)

두 개의 정수를 입력해주세요:  99 1

첫번째 값의 범위는 1~20입니다.

두 개의 정수를 입력해주세요:  10 1

두번째 값의 범위는 10~30입니다.

두 개의 정수를 입력해주세요:  20 10

첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.

두 개의 정수를 입력해주세요:  10 10

첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.

두 개의 정수를 입력해주세요:  10 20

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]

In [3]:
numbers = int(input("찾는 범위를 입력하세요: "))
count = 0
for i in range(2,numbers+1):
    numbers = True
    for j in range(2, i):
        if i%j == 0:
            numbers = False
            break
    if numbers:
        print(i,end=' ')
        count += 1
        if count % 7 == 0:
            print()

찾는 범위를 입력하세요:  200

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97 101 103 107
109 113 127 131 137 139 149
151 157 163 167 173 179 181
191 193 197 199

In [1]:
n = int(input("찾는 범위를 입력하세요: "))

i = 2
line = 0
while i <= n:
    j = 2
    while j <=i :
        if i % j == 0:
            break
        j += 1
    if i == j:
        print(i, end =' ')
        line = line +1
        if line == 7:
            line = 0
            print()
    i+=1

찾는 범위를 입력하세요:  200

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97 101 103 107
109 113 127 131 137 139 149
151 157 163 167 173 179 181
191 193 197 199

In [6]:
import random    # 시작정수, 끝 정수
random_list = [random.randint(1, 45) for _ in range(7)]
print(random_list)

[27, 10, 26, 34, 1, 9, 20]

In [12]:
import random
random_num = random.randint(1,100)    # 집에 가서 다시

while True:
    game = int(input("숫자 입력해: "))
    if random_num == game:
        print("맞췄습니다!\n총",_,'번만에 맞췄습니다.")
        break
    elif  not 1<=game<=100:
        print("1~100 사이의 숫자를 입력하세요.")
    elif random_num < game:
        print("그보다 작습니다.")
    else:
        print("그보다 큽니다.")

숫자 입력해:  4

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
while True:
    input_values.append(input(1~100 중 숫자를 맞춰보세요:"))
    _ = int(input_values[-1])
    if

In [ ]:
a = list('안녕하세요')
a

In [13]:
# 세트 : 중복되는 값을 가지지 않는다, 비시퀀스형인데, 이말은 순서가 없다라는 거임
#  set_variable = {키1,키2,키3}

In [14]:
print(type({}))

<class 'dict'>

In [15]:
print(set())

set()

In [ ]:
# 세트 자료형 컴프리헨션
# {expression for 변수 in iterable if 조건식} {}사용

In [16]:
# add() - 세트 자료형에 값을 추가할 수 있다.
# 세트 자료형.add(요소)

In [18]:
set_variable = set()
print(set_variable, type(set_variable))

set() <class 'set'>

In [19]:
# 세트 요소 삭제 방법
# 세트 자료형.remove(요소)
# 세트 자료형.discard(요소)
# set_variable.discard("없는 값") 도 가능
# 세트 자료형.pop()
# 세트 자료형.clear()

In [20]:
# set.union(세트 자료형1, 세트 자료형2) = |

In [22]:
A = {_ for _ in range(1,5)}   # 합집합
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:',B)
print('set.union(A,B):',set.union(A,B))
print('A|B:', A|B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.union(A,B): {1, 2, 3, 4, 5}
A|B: {1, 2, 3, 4, 5}

In [23]:
A = {_ for _ in range(1,5)} # 교집합
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:',B)
print('set.intersection(A,B):',set.intersection(A,B))
print('A&B:', A&B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.intersection(A,B): {2, 4}
A&B: {2, 4}

In [24]:
A = {_ for _ in range(1,5)}    # 차집합
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:',B)
print('set.difference(A,B):',set.difference(A,B))
print('A-B:', A-B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.difference(A,B): {1, 3}
A-B: {1, 3}

In [25]:
A = {_ for _ in range(1,5)}   # 대칭차집합
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:',B)
print('set.symmetric_difference(A,B):',set.symmetric_difference(A,B))
print('A^B:', A^B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.symmetric_difference(A,B): {1, 3, 5}
A^B: {1, 3, 5}

In [27]:
# update() 혹은 |=

A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:', B)
A.update(B) # A &= B 와 같다
print('A.update(B):',A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 2, 3, 4, 5}

In [ ]:
#intersection_update() 혹은 &=

A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:', B)
A.(B) # A &= B 와 같다
print('A.(B):',A)

In [ ]:
#difference_update() 혹은 -=
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:', B)
A.(B) # A &= B 와 같다
print('A.(B):',A)

In [ ]:
# symmetric_difference_update() 혹은 ^=

A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:', B)
A.(B) # A &= B 와 같다
print('A.(B):',A)

In [ ]:
# 부분집합 issubset()
A =

In [ ]:
# 상위집합 issuperaet()

In [ ]:
# 진부분집합과 진상위집합 >. <
A

In [ ]:
# 같다 ==

In [ ]:
# 세트가 겹치지 않도록 확인 isdisjont()

In [29]:
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
list_sample = {_ for _ in range(1,5)}
print(list_sample) 
#print(set(list_sample))

{1, 2, 3, 4}

In [8]:
set_3 = {i for i in range(1,100) if i%3 == 0}
set_5 = {i for i in range(1,100) if i%5 == 0}
result_set = set_3&set_5
result_sett = set.intersection(set_3,set_5)

print(result_set)
print(result_sett)

{75, 45, 15, 90, 60, 30}
{75, 45, 15, 90, 60, 30}

In [1]:
A = {_ for _ in range(1,5)} # 교집합
B = {_ for _ in range(2,6) if _ != 3}
print('A:', A, '\nB:',B)
print('set.intersection(A,B):',set.intersection(A,B))
print('A&B:', A&B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.intersection(A,B): {2, 4}
A&B: {2, 4}

In [34]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

# set_variable = {role_admin+role_hr+role_user}
# list[set_variable]
_ = list(set(role_admin + role_hr +role_user))
_.sort()
print(", ".join(_))

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리

In [ ]:
x = 함수명(인수,인수,...)        # def 함수명(인자,인자,...):
print("결과 값:",x)       ->        # 함수 코드...
                                    # return 반환값

In [ ]:
# 함수는 클래스에 포함 x 함수명((인수1), (인수2), ...)
# 메서드는   객체.메서드명((인수1), (인수2), ...)

In [ ]:
# def 함수_이름(위치_인자,위치_인자2, *가변_위치,키워드_인자,키워드_인자2,**가변-키워드):
    """
    Doc Srting을 적는 곳이요.     -> Doc Sring
    
    작성자: teacher              return -> keyword 만나면 함수를 빠져나간다.
    작성일자:2020.02.03
    
    """
    # 함수의 바디
    # 함수의 바디
    
    # return 반환값

In [1]:
def print_ten():
    """ print('hello')를 열번 출력합니다. """
    for _ in range(10):
        print('hello')

In [2]:
print_ten()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
print(print_ten.__doc__)

 print('hello')를 열번 출력합니다.

In [ ]:
# 함수의 정의 - 인자(parameter)
# 함수 정의에서 함수가 받을 수 있는 변수이다. 함수인자 혹은 매개변수라 부름
# 위치-키워드: 위치 혹은 키워드로 전달될 수 있는 인자를 말함. 매개변수의 기본 형태
# 위치 전용 : /문자를 기준으로 좌측에 위치한 인자
# 키워드 전용 : *문자를 기준으로 우측에 위치한 인자
# 가변 위치 : 위치 매개변수 외에 추가적인 위치 매개변수를 개수에 상관없이 받음, 변수명 앞에 *를 앞에 하나 붙여 표기
#  가변 키워드 : 키워드 외에 추가적인 키워드 매개변수를 개수에 상관없이 받음, 변수명 앞에 **를 두개 붙여 표기

In [1]:
def greeting(name, age):
    print(f"{name} 씨 안녕하세요. 약 {age * 365.25} 일 되었습니다.")

In [6]:
# greeting("파이썬", 32)     # 기본 형태

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [ ]:
# greeting(age=32, name = "파이썬") # 위치 키워드 인자 : 순서가 상관이 없다.

In [ ]:
# greetint(name="파이썬", 32)이거는 안됌 : 위치 인수를 먼저 작성하고 키워드 인수를 나중에 작성해야 함

In [2]:
greeting("파이썬",32)    # 기본 형태

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [4]:
greeting(name="파이썬",age = 32)    # 키워드 인수

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [7]:
greeting("파이썬", age = 32)    #위치 인수가 키워드보다 먼저 위치

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [8]:
greeting(age=32,name="파이썬")  # 키워드 인수는 순서 상관 없

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [2]:
def greeting(name, age=32):
    print(f"{name}씨 안넝하세요. 약 {age * 365.25}일 되었습니다.")

In [3]:
greeting("파이썬",32)

파이썬씨 안넝하세요. 약 11688.0일 되었습니다.

In [4]:
greeting("파이썬")      # 기본 값이 있는 인자는 생략가능

파이썬씨 안넝하세요. 약 11688.0일 되었습니다.

In [6]:
greeting(name="파이썬")

파이썬씨 안넝하세요. 약 11688.0일 되었습니다.

In [7]:
greeting(age=32, name ="파이썬")

파이썬씨 안넝하세요. 약 11688.0일 되었습니다.

In [4]:
def posonly(posonly, /): 
    print(posonly)

In [5]:
posonly("값만 입력해야 합니다.")

값만 입력해야 합니다.

In [6]:
def keyonly(*, keyonly="default"): # 키워드 인자
    print(keyonly)

In [7]:
keyonly()

default

In [9]:
def var_positional(*args):       # 가변-위치 인자
    print(type(args))
    return sum([_ for _ in args])

In [10]:
print(var_positional(1,2,3,4,5))

<class 'tuple'>
15

In [11]:
print(var_positional())

<class 'tuple'>
0

In [12]:
def var_keyword(**kargs):             # 가변-키워드 인자: 추가적으로 키워드 인수 개수를 받을수 있음
    print(type(kargs))
    return kargs

In [13]:
print(var_keyword(key="value", keys="value"))

<class 'dict'>
{'key': 'value', 'keys': 'value'}

In [14]:
print(var_keyword())

<class 'dict'>
{}

In [27]:
def plus_ten(a):
    a = a+10
    return a   # return a + 10

In [28]:
plus_ten(70) # print(plus_ten(70))

80

In [33]:
def to_celsius(fahrenheit):
    """ 화씨 온도를 섭씨 온도로 변경하는 함수"""
    return(fahrenheit-32)*5/9
print(to_celsius(70))

21.11111111111111

In [1]:
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환 """
    if type(number) != int or number <= 0: # type(number) is int and number > 0:
        return    # return "짝수" * (number % 2 == 0) or "홀수"
    elif number%2 == 0:
        return "짝수"
    else:
        return "홀수"
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [59]:
def check_leap_year(number):
    if number%4 !=0 or ( number%100==0 and number%400!=0):
        return "평년"
    else:
        return "윤년"
print(check_leap_year(2004))
print(check_leap_year(2000))
print(check_leap_year(1900))

윤년
윤년
평년

In [69]:
def days(month):    
    if month in (1,3,5,7,8,10,12):
        return "31"
    elif month in (4,6,9,11):
        return "30"
    elif month == 2:
        return "28"
    else:
        return
print(days(11))
print(days(2))
print(days(1))

30
28
31

In [72]:
def days(year,month):
    if year%4 !=0 or (year%100==0 and year%400!=0):
        if month in (1,3,5,7,8,10,12):
            return "31"
        elif month in (4,6,9,11):
            return "30"
        elif month == 2:
            return "28"
        else:
            return
    else:
        if month==2:
            return "29"
        elif month in (1,3,5,7,8,10,12):
            return "31"
        elif month in (4,6,9,11):
            return "30"
        else:
            return
print(days(1900,11))
print(days(2004,10))
print(days(1900,2))
print(days(2000,2))

30
31
28
29

In [73]:
 def days(year,month):
        if month in (1,3,5,7,8,10,12):
            return "31"
        elif month in (4,6,9,11):
            return "30"
        elif year%4 !=0 or (year%100==0 and year%400!=0):
            return 28
        else:
            return 29
print(days(1900,11))
print(days(2004,10))
print(days(1900,2))
print(days(2000,2))

30
31
28
29

In [3]:
global_variable = "This is global world."

print(f"global_variable in global_scope=> {global variable}")
print(hex(id(global_variable))

def local_world():
      print(f"global_variable in local_world=> {global variable}")
      print(hex(id(global_variable))

SyntaxError: f-string: invalid syntax (1372892759.py, line 3)

In [ ]:
# 지역변수(local scope)는 변수를 만든 함수 안에서만 접근이 가능

In [78]:
important_is_an_unbroken_heart = "중요한 것은 꺾이지 않는 마음"

def trials_and_tribulations():
    important_is_an_unbroken_heart = "흔들흔들"
    
trials_and_tribulations()
print(important_is_an_unbroken_heart)

중요한 것은 꺾이지 않는 마음

In [76]:
global_variable = "변경이 됩니까?"

def heartbreaker():
    global global_variable 
    global_variable = "global 키워드 활용해서 변경 완료"

heartbreaker()
print(global_variable)

global 키워드 활용해서 변경 완료

In [80]:
def level1():
    message = " This is level 1."
    def level2():
        message = "Level2 is better than level1."
    level2()
    print(message)
level1()          # 값 안 바뀜

 This is level 1.

In [81]:
def level1():
    message = " This is level 1."
    def level2():
        nonlocal message # nonlocal:바깥 영역의 변수를 사용하겠다고 설정하는 키워드
        message = "Level2 is better than level1."
    level2()
    print(message)
level1()

Level2 is better than level1.

In [ ]:
# 람다(Lambda) 
#  lambda [parameters]:expression   [매개변수]:반환값으로 사용할 식
  def func_name(parameter):
        return expression

In [82]:
# 람다 예시
(lambda x: x + 10)(10)

20

In [83]:
twice = lambda x: x*2
print(twice(10))

20

In [ ]:
# expression 부분은 변수 없이 식 한 줄로(인라인) 표현해야 한다, 새 변수를 만들 수 없다.
# (lambda x: y=10; x+y) 불가

In [84]:
# True일때 값 if 조건식 else False일때 값
score = 90
'A' if 90<score<=100 else 'B' if 80<score else 'C'

'B'

In [85]:
a = [_ for _ in range(1, 6)]
b = [_ for _ in range(2,11,2)]
print(list(map(lambda x,y: x*y,a,b)))

[2, 8, 18, 32, 50]

In [86]:
a = [3, 2, 8, 22, 10, 7, 0, 11, 9, 9]
list(filter(lambda x: x%3 == 0 and 0<x<10,a))

[3, 9, 9]

In [ ]:



# 객체지향 프로그래밍

In [ ]:
class ClassName:   # 클래스(class)명은 PascalCase를 쓴다
    def method_name(self):
        method_body
                
    class_body
    ...

In [ ]:
instance_variable = ClassName() # 객체 == 인스턴스 비슷한 느낌

In [ ]:
class Person:
    def _init_(self):
        self.hello = "안녕하세요."
        
    def greeting(self):
        print(self.hello)
        
james = Person()
james.greeting()

In [4]:
class Person:
    def __init__(self):
        self.hello = "안녕하세요."
    
    def greeting(self):
        print(self.hello)    # 속성은 __init__ 메서드에서 만든다, self에 마침표.를 붙여 속성명을 붙이고 값을 할당한다.
        
james = Person()   # self 가 완성된 후에 변수인 james에 할당됨
james.greeting()

안녕하세요.

In [18]:
class Student:
    def __init__(self): # __init__의 매개변수 self에 들어가는 값은 Student() 인스턴스라고 할 수 있다.
        # self.name = "홍길동"
        s1.name = "홍길동"
s1 = Student()
s2 = Student()

print(s1.name)

홍길동

In [19]:
# __ -> 던더라 부름, 던더는 파이썬이 자동으로 호출하는 메서드이다.
class Person:
    def __init__(self):
        self.name = "안녕"

In [ ]:
# self는 인스턴스 자기 자신을 의미

In [22]:
class ClassName:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1 = ClassName("홍길동",33)
p2 = ClassName(name="홍길동",age = 32)
print(p1.name)
print(p2.age)

홍길동
32

In [24]:
class Person:
    def __init__(self, name, age, address):
        self.hello = "안녕하세요"
        self.name = name
        self.age = age
        self.address =address
        
    def greeting(self):
        print(f"{self.hello} 제 이름은 {self.name}입니다")
        
maria = Person("마리아", 20,"서울시 서초구 반포동")
maria.greeting()

print("이름:", maria.name)
print("나이:", maria.age)
print("주소:", maria.address)

안녕하세요 제 이름은 마리아입니다
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

In [32]:
class Person:
    def __init__(self,name,age,address):
        self.n = name
        self.a = age
        self.d = address
name = input("이름은 무엇인가요?: ")
age = input("나이는 무엇인가요?: ")
address = input("주소는 무엇인가요?: ")

maria = Person(name,age,address)
print("첫번째 이름:",name)
print("첫번째 나이:",age)
print("첫번째 주소:",address)

name = input("이름은 무엇인가요?: ")
age = input("나이는 무엇인가요?: ")
address = input("주소는 무엇인가요?: ")

james = Person(name,age,address)
print("두번째 이름:",name)
print("두번째 나이:",age)
print("두번째 주소:",address)

이름은 무엇인가요?:  마리아
나이는 무엇인가요?:  20
주소는 무엇인가요?:  서울시 강남구

첫번째 이름: 마리아
첫번째 나이: 20
첫번째 주소: 서울시 강남구

이름은 무엇인가요?:  제임스
나이는 무엇인가요?:  21
주소는 무엇인가요?:  서울시 구로구

두번째 이름: 제임스
두번째 나이: 21
두번째 주소: 서울시 구로구

In [33]:
class Person:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address
    def Print1(self):
        print(f"""첫번째 이름: {self.name}
첫번째 나이: {self.age}
첫번째 주소: {self.address}
""")
    def Print2(self):
        print(f"""두번째 이름: {self.name}
두번째 나이: {self.age}
두번째 주소: {self.address}
""")
p1_1 = input("이름은 무엇인가요?:") # 입력값 : 마리아
p1_2 = input("나이는 무엇인가요?:") # 입력값 : 20
p1_3 = input("주소는 무엇인가요?:") # 서울시 강남구
p2_1 = input("이름은 무엇인가요?:") # 입력값 : 제임스
p2_2 = input("나이는 무엇인가요?:") # 입력값 : 21
p2_3 = input("주소는 무엇인가요?:") # 서울시 구로구
p1 = Person(p1_1,p1_2,p1_3)
p2 = Person(p2_1,p2_2,p2_3)
p1.Print1()
p2.Print2()

이름은 무엇인가요?: 마리아
나이는 무엇인가요?: 20
주소는 무엇인가요?: 서울시 강남구
이름은 무엇인가요?: 제임스
나이는 무엇인가요?: 21
주소는 무엇인가요?: 서울시 구로구

첫번째 이름: 마리아
첫번째 나이: 20
첫번째 주소: 서울시 강남구

두번째 이름: 제임스
두번째 나이: 21
두번째 주소: 서울시 구로구

In [ ]:
# 비공개 속성 사용

class ClassName:
    def __init__(self, param1,param2)
    self.attr1 = param1
    self.__attr2 = param2

In [ ]:
class ClassExam:
    def __init__(self):
        self.__secret = "비밀입니다."

In [35]:
class Person :
    def __init__(self, name, age, address, wallet) :
        self.name = name
        self.age = age
        self.address = address
        self.__wallet = wallet # 변수 앞에 __를 붙여서 비공개 속성으로 만듦
    def pay(self,amount):
        if self.__wallet < amount:
            print("돈이 모자라요.")
            return
        self.__wallet -= amount # 비공개 속성은 클래스 안의 메서드에서만 접근할 수 있음
        print("이제 {0}원 남았네요.".format(self.__wallet))
maria = Person("마리아", 20, "서울시 서초구 반포동", 10000)
maria.pay(3000)

이제 7000원 남았네요.

In [ ]:
class Annie:
    def __init__(self,phy,man,abi,tibbers):
        self.phy = phy
        self.man = man
        self.abi = abi
        self.tib = tibbers
    def print1(self):
        print(f"""{self.phy}
{self.man}{self.abi}""")
    def print1_1(self):
        print(f"{self.tib*0.65+400}")
    
    def print2(self):
        print(f"""{self.phy}
{self.man}{self.abi}""")
    def print1_1(self):
        print(f"{self.tib*0.65+400}")
        
r1 = print("체력,마나,AP를 입력하세요: ")
r1_a=print("티버:피해량 ")
r2 = print("체력,마나,AP를 입력하세요: ")
r2_a=print("티버:피해량 ")
r1_1 = Annie(r1,r1_a)
r2_2 = Annie(r2,r2_a)
r1_1.print1()
r2_2.print2()

In [39]:
class Annie:
    def __init__(self, hp=0, mp=0, ap=0):
        self.hp = hp
        self.mp = mp
        self.ap = ap
    
    def tibbers(self):
        return self.ap * 0.65 + 400
hp, mp, ap = map(float, input("애니").split())
a1 = Annie()
a2 = Annie(hp, mp, ap)
print(a2.hp, a2.mp, a2.ap)
a2.tibbers()

애니 511.68 334.0 298

511.68 334.0 298.0

593.7