In [3]:
a=int(input("자연수 하나 입력해주세요:"))

result = a-50

if result < 0:
    result = 0
print(result)

자연수 하나 입력해주세요: 70

20

In [6]:
#연습문제, 사용자 아이디 입력

a = input("아이디를 입력하세요 :")

if a =='admin':
    print("최고 권리자, 모든 권한을 갖습니다.")
elif a != 'admin':
    i = int(input("회원 등급을 입력해주세요: "))
    if 1<=i<=3:
        print("제한적인 권한을 갖습니다.")
    else:
        print("권한이 없습니다.")

아이디를 입력하세요 : biana
회원 등급을 입력해주세요:  4

권한이 없습니다.

In [7]:
i = int(input("자연수 하나 입력해주세요:"))

if i%2==0:
    print("짝수입니다")
else:
    print("홀수입니다")

자연수 하나 입력해주세요: 21

홀수입니다

In [10]:
i =int(input("발주 수량을 입력하세요:"))
_ =int(input(i,"개를 주문하셨습니다."))

a = i*0.5
b = i*0.9
c = i*0.8

if i<1000:
    print("수량할인이 적용되지 않습니다")
elif i<=1500:
    print("적용 할인율은 i 입니다")
elif i<2000:
    print("적용 할인율은 10% 입니다")
else:
    print("적용 할인율은 20% 입니다")

print("총 발주 금액은 $

발주 수량을 입력하세요: 2001

TypeError: raw_input() takes from 1 to 2 positional arguments but 3 were given

In [19]:
i = input("주민번호 뒷자리를 입력하세요:")
_ = int(i[0])
if int(len(i)) !=7:
    print("자리수를 잘못 입력했습니다")
else:    
    if _ in (1,3):
        print("남자")
    elif _ in (2,4):
        print("여자")
    else:
        print("잘못된 입력입니다")

주민번호 뒷자리를 입력하세요: 2345678

여자

In [3]:
i = int(input("자연수 하나 입력해주세요 :"))

for _ in range(i,0,-1):
    for j in range(_):
        print(_, end='\t')
    print()

자연수 하나 입력해주세요 : 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [2]:
for _ in range(10):
    if _ ==0 or _ == 9:
        print("*" * 10)
    else:
        print("*         *")

**********
*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
**********

In [ ]:
# 2월 19일 복습(처음부터)

In [7]:
print('Hello,World!')
print('Hello,World!')
print('Python Programming')

Hello,World!
Hello,World!
Python Programming

In [8]:
13+(22-3)*4

89

In [10]:
13+((22-3)*4)/5

28.2

In [11]:
int(0.2467*12+4.159)

7

In [12]:
print('가장 시끄러운 층은 =',int(0.2467*12.4+4.159),'층')

가장 시끄러운 층은 = 7 층

In [17]:
print("냉장고 가격은 ",int(53000*24),'원 입니다.',sep = '')

냉장고 가격은 1272000원 입니다.

In [20]:
people = 250
tax = 10 /100
print("총 지불 해야 할 금액은 ",int(20000*3*people*(1+tax)),'원 입니다.')

총 지불 해야 할 금액은  16500000 원 입니다.

In [21]:
float(380*0.6+225)

453.0

In [22]:
a = None
print(a)

None

In [23]:
text3 = 'don\'t do that'
text4 = "don't do that"

In [25]:
print("\"안녕?\"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.")

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.

In [26]:
s1 = r'c:\name'
s2 = 'c:\\name'

print(s1)
print(s2)

c:\name
c:\name

In [27]:
s3 = """
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.
"""
print(s3)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [28]:
s3 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s3)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [30]:
print("""\
\"안녕하세요\"
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
""")

"안녕하세요"
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [34]:
print('너무' * 7 + '파이썬 공부가 즐겁습니다.')

너무너무너무너무너무너무너무파이썬 공부가 즐겁습니다.

In [36]:
s6 = '너무' * 7 + '파이썬 공부가 즐겁습니다.'
print(s6)

너무너무너무너무너무너무너무파이썬 공부가 즐겁습니다.

In [38]:
_ = '중요한 것은 꺾이지 않는 마음'
print(_[7])

꺾

In [39]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7:])

꺾이지 않는 마음

In [41]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[2::-1])

한요중

In [43]:
sentence = '대단한' + sentence[3:]
print(sentence)

대단한 것은 꺾이지 않는 마음

In [44]:
print(len(sentence))

16

In [53]:
scores = [88,73,89,59,77]
if scores[0]<60 and scores[1]<60 and scores[2]<60 and scores[3]<60 and scores[4]<60:
    print('True')
else:
    print('False')

False

In [49]:
scores = [88,73,89,59,77]

print(scores[0]>=60 and scores[1]>=60 and scores[2]>=60 and scores[3]>=60 and scores[4]>=60)

False

In [2]:
numbers = [0,1,2,3,4,5,6,7]
numbers.append(8)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
numbers.insert(0,0)
numbers.insert(4,0)
numbers.insert(6,0)
numbers.insert(len(numbers),0)
numbers.remove(0)
print(numbers)

[0, 1, 2, 0, 3, 0, 4, 5, 6, 7, 8, 0]

In [4]:
numbers.extend([9,10,11])
print(numbers)

[0, 1, 2, 0, 3, 0, 4, 5, 6, 7, 8, 0, 9, 10, 11]

In [5]:
numbers.remove(0)
print(numbers)

[1, 2, 0, 3, 0, 4, 5, 6, 7, 8, 0, 9, 10, 11]

In [6]:
numbers.pop()
print(numbers)

[1, 2, 0, 3, 0, 4, 5, 6, 7, 8, 0, 9, 10]

In [7]:
print(numbers.index(0))

2

In [8]:
print(numbers.count(0))

3

In [10]:
numbers.sort()
print(numbers)

[0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
tuple = '음','오','아','예'

In [11]:
s3, s4, s5 = ['이렇게','리스트도','가능합니다']
print(s3)
print(s4)
print(s5)

이렇게
리스트도
가능합니다

In [17]:
i = input("이름을 입력하시오:")
print(i,'씨, 안녕하세요?')
print('파이썬에 오신 것을 환영합니다.')

a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))
print(a,'과',b,'의 합은',a+b,'입니다.')

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요:  300
두 번째 정수를 입력하세요:  400

300 과 400 의 합은 700 입니다.

In [26]:
a = input("경기장은 어디입니까? ")
b = input('이긴 팀은 어디입니까? ')
c = input('진 팀은 어디입니까? ')
d = input('우수 선수는 누구입니까? ')
e = input('스코어는 몇대몇입니까? ')
          
print('\n[속보]',b,'가',e,'로 승리...\n오늘',a,'경기장에서 야구 경기가 있었습니다.\n',b,'와',c,'는 치열한 공방전을 펼쳤습니다.\n이 경기에서',d,'가 맹활약을 했습니다.\n그 끝내',b,'가',c,'를',e,'로 승리하였습니다.\n''기사 끝.',sep='')

경기장은 어디입니까?  고척
이긴 팀은 어디입니까?  KT
진 팀은 어디입니까?  LG
우수 선수는 누구입니까?  강백호
스코어는 몇대몇입니까?  10:9

[속보]KT가10:9로 승리...
오늘고척경기장에서 야구 경기가 있었습니다.
KT와LG는 치열한 공방전을 펼쳤습니다.
이 경기에서강백호가 맹활약을 했습니다.
그 끝내KT가LG를10:9로 승리하였습니다.
기사 끝.

In [28]:
result = '1,2,3'.split(',')
print(result)

['1', '2', '3']

In [34]:
a,b,c= input('hh:mm:ss의 형태로 시간을 입력해주세요 ').split(':')
print('시 :',a)
print('분 :',b)
print('초 :',c)

hh:mm:ss의 형태로 시간을 입력해주세요  12:33:23

시 : 12
분 : 33
초 : 23

In [35]:
a = [1.2,2.5,3.7,4.6]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [41]:
kor,eng,mat,sci = map(int,input('국어,영어,수학,과학 점수를 입력해주세요.').split(','))
result = (kor+eng+mat+sci)/4
print("평균 점수는",result,'점입니다.')

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [45]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year,month,day,sep = '/',end = ' ')
print(hour,minute,second,sep = ':')

2021/02/03 18:33:23

In [47]:
a,b = map(int,input('사과와 귤을 몇개 드릴까요?').split(','))
print("총 가격은 ",1000*a+200*b,'원입니다.',sep = '')

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

In [52]:
a = input("아이디를 입력하세요:")


if a == 'admin':
    print("최고 관리자,모든 권한을 갖습니다")
else:
    b = int(input("회원 등급을 입력하세요:"))
    if 1 <= b <= 3:
        print("제한적인 권한을 갖습니다")
    else:
        print("권한이 없습니다.")

아이디를 입력하세요: biana
회원 등급을 입력하세요: 3

제한적인 권한을 갖습니다

In [56]:
i = int(input("자연수 하나 입력해주세요:"))
_ = i-50
if 0 > _:
    print("0")
else:
    print(_)

자연수 하나 입력해주세요: 60

10

In [58]:
i = int(input("자연수 하나 입력해주세요: "))

if i%2 == 0:
    print("짝수")
else:
    print("홀수")

자연수 하나 입력해주세요:  21

홀수

In [61]:
a = int(input("소프트웨어 설계 점수를 입력하세요."))
b = int(input("소프트웨어 개발 점수를 입력하세요."))
c = int(input("데이터베이스 구축 점수를 입력하세요."))
d = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
e = int(input("정보시스템 구축관리 점수를 입력하세요."))


if 0 <= a <=100 and 0 <= b <=100 and 0 <= c <=100 and 0 <= d <=100 and 0 <= e <=100:
    result = (a+b+c+d+e)/5
    if result >= 60:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 정수입니다")

소프트웨어 설계 점수를 입력하세요. 60
소프트웨어 개발 점수를 입력하세요. 60
데이터베이스 구축 점수를 입력하세요. 60
프로그래밍 언어 활용 점수를 입력하세요. 60
정보시스템 구축관리 점수를 입력하세요. 60

합격

In [65]:
i = float(input("현재 물의 온도를 입력해주세요."))

if i>=100:
    print("기체로 예상됩니다.")
elif 0<=i:
    print("액체로 예상됩니다.")
else:
    print("고체로 예상됩니다.")

현재 물의 온도를 입력해주세요. 100

기체로 예상됩니다.

In [70]:
name = int(input("자신의 나이를 입력하세요:"))

if name>=19:
    print("1500원")
elif name >=12:
    print("1100원")
elif name >=6:
    print("800원")
else:
    print("무임승차입니다")

자신의 나이를 입력하세요: 5

무임승차입니다

In [72]:
_ = int(input("발주 수량을 입력하세요:"))
print(_,"개를 주문하셨습니다.")

if 1000<=_<=1500:
    a = (_*10)*0.5
    print("적용 할인율은 5%입니다.")
    print("총 발주 금액은 $",int(a),"입니다.")
elif _<=2000:
    b = (_*10)*0.9
    print("적용 할인율은 10%입니다.")
    print("총 발주 금액은 $",int(b),"입니다.")
elif _>2000:
    c = (_*10)*0.8
    print("적용 할인율은 20%입니다.")
    print("총 발주 금액은 $",int(c),"입니다.")
else:
    d = _*10
    print("적용 할인율은 없습니다.")
    print("총 발주 금액은 $",int(d),"입니다.")

발주 수량을 입력하세요: 2001

2001 개를 주문하셨습니다.
적용 할인율은 20%입니다.
총 발주 금액은 $ 16008 입니다.

In [74]:
_ = int(input("발주 수량을 입력하세요:"))
print(_,"개를 주문하셨습니다.")

price = 10
rate = 0
result = 0

if _ > 2000:
    rate = 20
elif _ > 1500:
    rate = 10
elif _ > 1000:
    rate = 5

result = int(price * _ *((100-rate)/100))
print("적용 할인율은 ", rate, "%입니다.",sep = '')
print("총 발주 금액은 $",result,"입니다.",sep ='')

발주 수량을 입력하세요: 2001

2001 개를 주문하셨습니다.
적용 할인율은 20%입니다.
총 발주 금액은 $16008입니다.

In [80]:
_ = input("주민번호 뒷자리를 입력하세요:")

if len(_) != 7:
    print("자리수를 잘못 입력했습니다")
else:
    first = int(_[0])
    if first == 1 or first == 3: #first in (1,3):
        print("남자")
    elif first == 2 or first == 4: #first in (2,4):
        print("여자")
    else:
        print("잘못된 입력입니다.")

주민번호 뒷자리를 입력하세요: 5678901

잘못된 입력입니다.

In [84]:
year = int(input("확인할 연도를 입력하세요:"))

if year%4 != 0:
    print("평년")
elif year%100 == 0 and year%400 != 0:
    print("평년")
else:
    print("윤년")

확인할 연도를 입력하세요: 2023

평년

In [85]:
even_numbers = list(range(2,100,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [90]:
for i in range(10):
    print("Hello World",i)

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9

In [95]:
i = int(input("인사 몇번 해드릴까요?"))

for _ in range(i):
    print("Hello World",_)

인사 몇번 해드릴까요? 3

Hello World 0
Hello World 1
Hello World 2

In [96]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [98]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [101]:
print(list(range(-10,-100,-30)))

[-10, -40, -70]

In [111]:
i = int(input("자연수 하나 입력해주세요:"))

for _ in range(i,0,-1):
    for j in range(_):
        print(_,end='\t')
    print()

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [116]:
for _ in range(10):
    if _ == 0 or _ == 9:
        print('* ' * 10)
    else:
        print('*                 *')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [120]:
i = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다."))
result = 0

for _ in range(1,i+1):
    if _%2 == 1:
        if (i-1) == _ or i == _:
            print(_, end = ' = ')
        else:
            print(_, end = ' + ')
        result += _
print(result)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다. 100

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [121]:
num = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다."))
sum = 0
print(1, end ='')

for i in range(3,num+1,2):
    sum += i
    print('+',i,end = '')
print('=',sum+1)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다. 100

1+ 3+ 5+ 7+ 9+ 11+ 13+ 15+ 17+ 19+ 21+ 23+ 25+ 27+ 29+ 31+ 33+ 35+ 37+ 39+ 41+ 43+ 45+ 47+ 49+ 51+ 53+ 55+ 57+ 59+ 61+ 63+ 65+ 67+ 69+ 71+ 73+ 75+ 77+ 79+ 81+ 83+ 85+ 87+ 89+ 91+ 93+ 95+ 97+ 99= 2500

In [123]:
i = int(input("계승을 구할 숫자를 입력하세요."))
result = 1

for n in range(1,i+1):
    result *= n
print(result)

계승을 구할 숫자를 입력하세요. 7

5040

In [126]:
x = [10,-42,25,103,21,77,24]

for i in x:
    print(i*10, end = ' ')

100 -420 250 1030 210 770 240

In [127]:
a = int(input("구구단을 알려드립니다. 숫자를 입력하세요."))

for _ in range(1,10):
    sum = a*_
    print(a,'*',_,'=',sum)

구구단을 알려드립니다. 숫자를 입력하세요. 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [129]:
i = int(input("자연수를 입력해주세요"))
result = 0
for _ in range(1,i+1):
    result += _
print(result)

자연수를 입력해주세요 100

5050

In [133]:
for _ in range(5):
    for i in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [134]:
i = 0
while i<10:
    print("Hello World")
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [135]:
count = int(input("반복할 횟수를 입력하세요: "))

while count > 0:
    print("Hello World",count)
    count -= 1

반복할 횟수를 입력하세요:  3

Hello World 3
Hello World 2
Hello World 1

In [8]:
i = 1
while i<=50:
    print(i*2,end='\t')
    i +=1

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [10]:
n = int(input("구구단을 알려드립니다. 숫자를 입력하세요."))
i = 1
while i < 10:
    print(n,'*',i,'=',n*i)
    i +=1

구구단을 알려드립니다. 숫자를 입력하세요. 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [15]:
st = int(input("학생의 수:"))
sum = 0
i=1
while i <= st:
    sum += int(input(str(i) + "번 학생의 점수 : "))
    i += 1
print("평균 :", sum/st,"점",sep ='')

학생의 수: 3
1번 학생의 점수 :  77
2번 학생의 점수 :  88
3번 학생의 점수 :  99

평균 :88.0점

In [16]:
scores = (97,100,77)

for _ in range(len(scores)):
    print(scores[_])

97
100
77

In [17]:
i = 0
while i < len(scores):
    print(scores[i])
    i += 1

97
100
77

In [20]:
for _ in range(1,11):
    print(_,end=' ')

1 2 3 4 5 6 7 8 9 10

In [22]:
i=1
while i < 11:
    print(i,end = ' ')
    i+=1

1 2 3 4 5 6 7 8 9 10

In [27]:
class_a = (70,60,55,75,95,90,80,80,85,100)
i = 0
sum = 0
while i < len(class_a):
    sum +=class_a[i]
    i+=1
avg = sum/len(class_a)
print(avg)

79.0

In [29]:
i = 0
total = 0
while True:
    total +=i
    i = i+1
    if i > 100:
        break
print(total)

5050

In [30]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == 'q':break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다. 정말?
q를 입력하면 종료됩니다. 증말?
q를 입력하면 종료됩니다. 와우
q를 입력하면 종료됩니다. q

프로그램을 종료합니다.

In [32]:
i = 0
while True:
    if i%10 != 3:
        i += 1
        continue
    if i > 100:
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [33]:
for i in range(100):
    if i % 2 == 0:
        continue
    print(i,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [1]:
i = 0
while i < 100:
    i += 1
    if i % 2 == 0:
        continue
    print(i, end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [3]:
n=int(input("시작하는 정수 입력: "))
m=int(input("끝나는 정수 입력: "))
sum = 0
for _ in range(n,m+1):
    sum += _
print(n,'부터',m,'까지의 합은',sum,'입니다.')

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다.

In [6]:
n=int(input("시작하는 정수 입력: "))   # 다시 풀어야 됨
m=int(input("끝나는 정수 입력: "))
i = n
sum = 0

while i <= m:
    sum += i
    i += 1
print(n,'부터',m,'까지의 합은',sum,'입니다.')

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다.

In [2]:
# 안녕하시오 드디어 성공인가

In [ ]:
n=sdfjielsdf