In [1]:
! conda list

# packages in environment at C:\Users\jaehee\anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0            py39haa95532_0
alabaster                 0.7.12             pyhd3eb1b0_0
anaconda                  2022.10                  py39_0
anaconda-client           1.11.0           py39haa95532_0
anaconda-navigator        2.3.1            py39haa95532_0
anaconda-project          0.11.1           py39haa95532_0
anyio                     3.5.0            py39haa95532_0
appdirs                   1.4.4              pyhd3eb1b0_0
argon2-cffi               21.3.0             pyhd3eb1b0_0
argon2-cffi-bindings      21.2.0           py39h2bbff1b_0
arrow                     1.2.2              pyhd3eb1b0_0
astroid                   2.11.7           py39haa95532_0
astropy                   5.1              py39h080aedc_0
atomicwrites              1.4.0                      py_0
attrs                     21.4.0             pyhd3eb1b0_0
automat                   20.2.0                     py_0
autopep8                  1.6.0              pyhd3eb1b0_1
babel                     2.9.1              pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
backports                 1.1                pyhd3eb1b0_0
backports.functools_lru_cache 1.6.4              pyhd3eb1b0_0
backports.tempfile        1.0                pyhd3eb1b0_1
backports.weakref         1.0.post1                  py_1
bcrypt                    3.2.0            py39h2bbff1b_1
beautifulsoup4            4.11.1           py39haa95532_0
binaryornot               0.4.4              pyhd3eb1b0_1
bitarray                  2.5.1            py39h2bbff1b_0
bkcharts                  0.2              py39haa95532_1
black                     22.6.0           py39haa95532_0
blas                      1.0                         mkl
bleach                    4.1.0              pyhd3eb1b0_0
blosc                     1.21.0               h19a0ad4_1
bokeh                     2.4.3            py39haa95532_0
boto3                     1.24.28          py39haa95532_0
botocore                  1.27.28          py39haa95532_0
bottleneck                1.3.5            py39h080aedc_0
brotli                    1.0.9                h2bbff1b_7
brotli-bin                1.0.9                h2bbff1b_7
brotlipy                  0.7.0           py39h2bbff1b_1003
bzip2                     1.0.8                he774522_0
ca-certificates           2022.07.19           haa95532_0
certifi                   2022.9.14        py39haa95532_0
cffi                      1.15.1           py39h2bbff1b_0
cfitsio                   3.470                h2bbff1b_7
chardet                   4.0.0           py39haa95532_1003
charls                    2.2.0                h6c2663c_0
charset-normalizer        2.0.4              pyhd3eb1b0_0
click                     8.0.4            py39haa95532_0
cloudpickle               2.0.0              pyhd3eb1b0_0
clyent                    1.2.2            py39haa95532_1
colorama                  0.4.5            py39haa95532_0
colorcet                  3.0.0            py39haa95532_0
comtypes                  1.1.10          py39haa95532_1002
conda                     22.9.0           py39haa95532_0
conda-build               3.22.0           py39haa95532_0
conda-content-trust       0.1.3            py39haa95532_0
conda-env                 2.6.0                haa95532_1
conda-pack                0.6.0              pyhd3eb1b0_0
conda-package-handling    1.9.0            py39h8cc25b3_0
conda-repo-cli            1.0.20           py39haa95532_0
conda-token               0.4.0              pyhd3eb1b0_0
conda-verify              3.4.2                      py_1
console_shortcut          0.1.1                         4
constantly                15.1.0             pyh2b92418_0
cookiecutter              1.7.3              pyhd3eb1b0_0
cryptography              37.0.1           py39h21b164f_0
cssselect                 1.1.0              pyhd3eb1b0_0
curl                      7.84.0               h2bbff1b_0
cycler                    0.11.0             pyhd3eb1b0_0
cython                    0.29.32          py39hd77b12b_0
cytoolz                   0.11.0           py39h2bbff1b_0
daal4py                   2021.6.0         py39h757b272_1
dal                       2021.6.0           h59b6b97_874
dask                      2022.7.0         py39haa95532_0
dask-core                 2022.7.0         py39haa95532_0
dataclasses               0.8                pyh6d0b6a4_7
datashader                0.14.1           py39haa95532_0
datashape                 0.5.4            py39haa95532_1
debugpy                   1.5.1            py39hd77b12b_0
decorator                 5.1.1              pyhd3eb1b0_0
defusedxml                0.7.1              pyhd3eb1b0_0
diff-match-patch          20200713           pyhd3eb1b0_0
dill                      0.3.4              pyhd3eb1b0_0
distributed               2022.7.0         py39haa95532_0
docutils                  0.18.1           py39haa95532_3
entrypoints               0.4              py39haa95532_0
et_xmlfile                1.1.0            py39haa95532_0
fftw                      3.3.9                h2bbff1b_1
filelock                  3.6.0              pyhd3eb1b0_0
flake8                    4.0.1              pyhd3eb1b0_1
flask                     1.1.2              pyhd3eb1b0_0
fonttools                 4.25.0             pyhd3eb1b0_0
freetype                  2.10.4               hd328e21_0
fsspec                    2022.7.1         py39haa95532_0
future                    0.18.2           py39haa95532_1
gensim                    4.1.2            py39hd77b12b_0
giflib                    5.2.1                h62dcd97_0
glob2                     0.7                pyhd3eb1b0_0
greenlet                  1.1.1            py39hd77b12b_0
h5py                      3.7.0            py39h3de5c98_0
hdf5                      1.10.6               h1756f20_1
heapdict                  1.0.1              pyhd3eb1b0_0
holoviews                 1.15.0           py39haa95532_0
hvplot                    0.8.0            py39haa95532_0
hyperlink                 21.0.0             pyhd3eb1b0_0
icc_rt                    2022.1.0             h6049295_2
icu                       58.2                 ha925a31_3
idna                      3.3                pyhd3eb1b0_0
imagecodecs               2021.8.26        py39hc0a7faf_1
imageio                   2.19.3           py39haa95532_0
imagesize                 1.4.1            py39haa95532_0
importlib-metadata        4.11.3           py39haa95532_0
importlib_metadata        4.11.3               hd3eb1b0_0
incremental               21.3.0             pyhd3eb1b0_0
inflection                0.5.1            py39haa95532_0
iniconfig                 1.1.1              pyhd3eb1b0_0
intake                    0.6.5              pyhd3eb1b0_0
intel-openmp              2021.4.0          haa95532_3556
intervaltree              3.1.0              pyhd3eb1b0_0
ipykernel                 6.15.2           py39haa95532_0
ipython                   7.31.1           py39haa95532_1
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipywidgets                7.6.5              pyhd3eb1b0_1
isort                     5.9.3              pyhd3eb1b0_0
itemadapter               0.3.0              pyhd3eb1b0_0
itemloaders               1.0.4              pyhd3eb1b0_1
itsdangerous              2.0.1              pyhd3eb1b0_0
jdcal                     1.4.1              pyhd3eb1b0_0
jedi                      0.18.1           py39haa95532_1
jellyfish                 0.9.0            py39h2bbff1b_0
jinja2                    2.11.3             pyhd3eb1b0_0
jinja2-time               0.2.0              pyhd3eb1b0_3
jmespath                  0.10.0             pyhd3eb1b0_0
joblib                    1.1.0              pyhd3eb1b0_0
jpeg                      9e                   h2bbff1b_0
jq                        1.6                  haa95532_1
json5                     0.9.6              pyhd3eb1b0_0
jsonschema                4.16.0           py39haa95532_0
jupyter                   1.0.0            py39haa95532_8
jupyter_client            7.3.4            py39haa95532_0
jupyter_console           6.4.3              pyhd3eb1b0_0
jupyter_core              4.11.1           py39haa95532_0
jupyter_server            1.18.1           py39haa95532_0
jupyterlab                3.4.4            py39haa95532_0
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_server         2.10.3             pyhd3eb1b0_1
jupyterlab_widgets        1.0.0              pyhd3eb1b0_1
keyring                   23.4.0           py39haa95532_0
kiwisolver                1.4.2            py39hd77b12b_0
lazy-object-proxy         1.6.0            py39h2bbff1b_0
lcms2                     2.12                 h83e58a3_0
lerc                      3.0                  hd77b12b_0
libaec                    1.0.4                h33f27b4_1
libarchive                3.6.1                hebabd0d_0
libbrotlicommon           1.0.9                h2bbff1b_7
libbrotlidec              1.0.9                h2bbff1b_7
libbrotlienc              1.0.9                h2bbff1b_7
libcurl                   7.84.0               h86230a5_0
libdeflate                1.8                  h2bbff1b_5
libiconv                  1.16                 h2bbff1b_2
liblief                   0.11.5               hd77b12b_1
libpng                    1.6.37               h2a8f88b_0
libsodium                 1.0.18               h62dcd97_0
libspatialindex           1.9.3                h6c2663c_0
libssh2                   1.10.0               hcd4344a_0
libtiff                   4.4.0                h8a3f274_0
libwebp                   1.2.2                h2bbff1b_0
libxml2                   2.9.14               h0ad7f3c_0
libxslt                   1.1.35               h2bbff1b_0
libzopfli                 1.0.3                ha925a31_0
llvmlite                  0.38.0           py39h23ce68f_0
locket                    1.0.0            py39haa95532_0
lxml                      4.9.1            py39h1985fb9_0
lz4                       3.1.3            py39h2bbff1b_0
lz4-c                     1.9.3                h2bbff1b_1
lzo                       2.10                 he774522_2
m2-msys2-runtime          2.5.0.17080.65c939c               3
m2-patch                  2.7.5                         2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
markdown                  3.3.4            py39haa95532_0
markupsafe                2.0.1            py39h2bbff1b_0
matplotlib                3.5.2            py39haa95532_0
matplotlib-base           3.5.2            py39hd77b12b_0
matplotlib-inline         0.1.6            py39haa95532_0
mccabe                    0.6.1            py39haa95532_2
menuinst                  1.4.19           py39h59b6b97_0
mistune                   0.8.4           py39h2bbff1b_1000
mkl                       2021.4.0           haa95532_640
mkl-service               2.4.0            py39h2bbff1b_0
mkl_fft                   1.3.1            py39h277e83a_0
mkl_random                1.2.2            py39hf11a4ad_0
mock                      4.0.3              pyhd3eb1b0_0
mpmath                    1.2.1            py39haa95532_0
msgpack-python            1.0.3            py39h59b6b97_0
msys2-conda-epoch         20160418                      1
multipledispatch          0.6.0            py39haa95532_0
munkres                   1.1.4                      py_0
mypy_extensions           0.4.3            py39haa95532_1
navigator-updater         0.3.0            py39haa95532_0
nbclassic                 0.3.5              pyhd3eb1b0_0
nbclient                  0.5.13           py39haa95532_0
nbconvert                 6.4.4            py39haa95532_0
nbformat                  5.5.0            py39haa95532_0
nest-asyncio              1.5.5            py39haa95532_0
networkx                  2.8.4            py39haa95532_0
nltk                      3.7                pyhd3eb1b0_0
nose                      1.3.7           pyhd3eb1b0_1008
notebook                  6.4.12           py39haa95532_0
numba                     0.55.1           py39hf11a4ad_0
numexpr                   2.8.3            py39hb80d3ca_0
numpy                     1.21.5           py39h7a0a035_3
numpy-base                1.21.5           py39hca35cd5_3
numpydoc                  1.4.0            py39haa95532_0
olefile                   0.46               pyhd3eb1b0_0
opendartreader            0.2.1                    pypi_0    pypi
openjpeg                  2.4.0                h4fc8c34_0
openpyxl                  3.0.10           py39h2bbff1b_0
openssl                   1.1.1q               h2bbff1b_0
packaging                 21.3               pyhd3eb1b0_0
pandas                    1.4.4            py39hd77b12b_0
pandocfilters             1.5.0              pyhd3eb1b0_0
panel                     0.13.1           py39haa95532_0
param                     1.12.0             pyhd3eb1b0_0
paramiko                  2.8.1              pyhd3eb1b0_0
parsel                    1.6.0            py39haa95532_0
parso                     0.8.3              pyhd3eb1b0_0
partd                     1.2.0              pyhd3eb1b0_1
pathlib                   1.0.1              pyhd3eb1b0_1
pathspec                  0.9.0            py39haa95532_0
patsy                     0.5.2            py39haa95532_1
pep8                      1.7.1            py39haa95532_1
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    9.2.0            py39hdc2b20a_1
pip                       22.2.2           py39haa95532_0
pkginfo                   1.8.2              pyhd3eb1b0_0
platformdirs              2.5.2            py39haa95532_0
plotly                    5.9.0            py39haa95532_0
pluggy                    1.0.0            py39haa95532_1
powershell_shortcut       0.0.1                         3
poyo                      0.5.0              pyhd3eb1b0_0
prometheus_client         0.14.1           py39haa95532_0
prompt-toolkit            3.0.20             pyhd3eb1b0_0
prompt_toolkit            3.0.20               hd3eb1b0_0
protego                   0.1.16                     py_0
psutil                    5.9.0            py39h2bbff1b_0
ptyprocess                0.7.0              pyhd3eb1b0_2
py                        1.11.0             pyhd3eb1b0_0
py-lief                   0.11.5           py39hd77b12b_1
pyasn1                    0.4.8              pyhd3eb1b0_0
pyasn1-modules            0.2.8                      py_0
pycodestyle               2.8.0              pyhd3eb1b0_0
pycosat                   0.6.3            py39h2bbff1b_0
pycparser                 2.21               pyhd3eb1b0_0
pyct                      0.4.8            py39haa95532_1
pycurl                    7.45.1           py39hcd4344a_0
pydispatcher              2.0.5            py39haa95532_2
pydocstyle                6.1.1              pyhd3eb1b0_0
pyerfa                    2.0.0            py39h2bbff1b_0
pyflakes                  2.4.0              pyhd3eb1b0_0
pygments                  2.11.2             pyhd3eb1b0_0
pyhamcrest                2.0.2              pyhd3eb1b0_2
pyjwt                     2.4.0            py39haa95532_0
pylint                    2.14.5           py39haa95532_0
pyls-spyder               0.4.0              pyhd3eb1b0_0
pymysql                   1.0.2                    pypi_0    pypi
pynacl                    1.5.0            py39h8cc25b3_0
pyodbc                    4.0.34           py39hd77b12b_0
pyopenssl                 22.0.0             pyhd3eb1b0_0
pyparsing                 3.0.9            py39haa95532_0
pyqt                      5.9.2            py39hd77b12b_6
pyrsistent                0.18.0           py39h196d8e1_0
pysocks                   1.7.1            py39haa95532_0
pytables                  3.6.1            py39h56d22b6_1
pytest                    7.1.2            py39haa95532_0
python                    3.9.13               h6244533_1
python-dateutil           2.8.2              pyhd3eb1b0_0
python-fastjsonschema     2.16.2           py39haa95532_0
python-libarchive-c       2.9                pyhd3eb1b0_1
python-lsp-black          1.0.0              pyhd3eb1b0_0
python-lsp-jsonrpc        1.0.0              pyhd3eb1b0_0
python-lsp-server         1.3.3              pyhd3eb1b0_0
python-slugify            5.0.2              pyhd3eb1b0_0
python-snappy             0.6.0            py39hd77b12b_3
pytz                      2022.1           py39haa95532_0
pyviz_comms               2.0.2              pyhd3eb1b0_0
pywavelets                1.3.0            py39h2bbff1b_0
pywin32                   302              py39h2bbff1b_2
pywin32-ctypes            0.2.0           py39haa95532_1000
pywinpty                  2.0.2            py39h5da7b33_0
pyyaml                    6.0              py39h2bbff1b_1
pyzmq                     23.2.0           py39hd77b12b_0
qdarkstyle                3.0.2              pyhd3eb1b0_0
qstylizer                 0.1.10             pyhd3eb1b0_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 1.0.3              pyhd3eb1b0_0
qtconsole                 5.2.2              pyhd3eb1b0_0
qtpy                      2.2.0            py39haa95532_0
queuelib                  1.5.0            py39haa95532_0
regex                     2022.7.9         py39h2bbff1b_0
requests                  2.28.1           py39haa95532_0
requests-file             1.5.1              pyhd3eb1b0_0
rope                      0.22.0             pyhd3eb1b0_0
rtree                     0.9.7            py39h2eaa2aa_1
ruamel_yaml               0.15.100         py39h2bbff1b_0
s3transfer                0.6.0            py39haa95532_0
scikit-image              0.19.2           py39hf11a4ad_0
scikit-learn              1.0.2            py39hf11a4ad_1
scikit-learn-intelex      2021.6.0         py39haa95532_0
scipy                     1.9.1            py39he11b74f_0
scrapy                    2.6.2            py39haa95532_0
seaborn                   0.11.2             pyhd3eb1b0_0
send2trash                1.8.0              pyhd3eb1b0_1
service_identity          18.1.0             pyhd3eb1b0_1
setuptools                63.4.1           py39haa95532_0
sip                       4.19.13          py39hd77b12b_0
six                       1.16.0             pyhd3eb1b0_1
smart_open                5.2.1            py39haa95532_0
snappy                    1.1.9                h6c2663c_0
sniffio                   1.2.0            py39haa95532_1
snowballstemmer           2.2.0              pyhd3eb1b0_0
sortedcollections         2.1.0              pyhd3eb1b0_0
sortedcontainers          2.4.0              pyhd3eb1b0_0
soupsieve                 2.3.1              pyhd3eb1b0_0
sphinx                    5.0.2            py39haa95532_0
sphinxcontrib-applehelp   1.0.2              pyhd3eb1b0_0
sphinxcontrib-devhelp     1.0.2              pyhd3eb1b0_0
sphinxcontrib-htmlhelp    2.0.0              pyhd3eb1b0_0
sphinxcontrib-jsmath      1.0.1              pyhd3eb1b0_0
sphinxcontrib-qthelp      1.0.3              pyhd3eb1b0_0
sphinxcontrib-serializinghtml 1.1.5              pyhd3eb1b0_0
spyder                    5.2.2            py39haa95532_1
spyder-kernels            2.2.1            py39haa95532_0
sqlalchemy                1.4.39           py39h2bbff1b_0
sqlite                    3.39.3               h2bbff1b_0
statsmodels               0.13.2           py39h2bbff1b_0
sympy                     1.10.1           py39haa95532_0
tabulate                  0.8.10           py39haa95532_0
tbb                       2021.6.0             h59b6b97_0
tbb4py                    2021.6.0         py39h59b6b97_0
tblib                     1.7.0              pyhd3eb1b0_0

In [1]:
import pandas as pd
import numpy as np

In [9]:
# Series class -> numpy에서 제공하는 1차원 배열과 비슷, 배열과 다르게 index를 붙일 수 있음

series = pd.Series(['하나', '둘', '셋', '넷', '다섯',
                    '여섯', '일곱', '여덟', '아홉', '열'],
                    index = [_ for _ in range(1,11)])
series

1     하나
2      둘
3      셋
4      넷
5     다섯
6     여섯
7     일곱
8     여덟
9     아홉
10     열
dtype: object

In [ ]:
# index는 data와 length가 동일해야 함
# hashable type만 사용 가능: 변화없는 값

In [11]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [13]:
# 연습문제
a = pd.Series([10,20,30,40,50,60,70,80,90],
              index=[_ for _ in range(9)])
a

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [14]:
a = pd.Series(list(range(10,100,10)))
a

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [15]:
#index를 지정하지 않고 series를 만들면,index와 value 값이 같아야됨
pd.Series(range(10,14)) #이렇게

0    10
1    11
2    12
3    13
dtype: int64

In [16]:
s.index # index의 속성

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [17]:
s.values  # values의 속성

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [22]:
# 객체의 값 중 50보다 큰 값의 개수 연습 문제
a.values
len(a[a>50])   # sum(a.values>50)

4

In [28]:
# name 속성을 이용하여 index.name 속성으로 index에도 이름을 붙일 수 있다

s.name = "인구"
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [30]:
# series 객체를 만들 때 data에 dict를 사용

d = {'a':1, 'b':2, 'c':3} # 비 시퀀스 dict
ser = pd.Series(data=d, index=['c', 'a', 'b'])
ser       #numpy: 시퀀스

c    3
a    1
b    2
dtype: int64

In [31]:
d = {'a':1, 'b':2, 'c':3}
ser = pd.Series(data=d, index=['x', 'y', 'z']) # 이미 series의 data값을 할당해 놓고 index값을 재할당함
ser            # NaN값이 float 자료형에서만 표현 가능하므로 결과가 float 자료형이 되었다는 점을 주의

x   NaN
y   NaN
z   NaN
dtype: float64

In [32]:
x = pd.Series({'철수':88, '영희':95, '길동':100,'몽룡':67})
x

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

In [34]:
x = pd.Series([88,95,100,67],
              index=['철수','영희','길동','몽룡'])
x

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

In [35]:
d = {'철수':88, '영희':95, '길동':100,'몽룡':67}
x = pd.Series(data=d, index=['철수','영희','길동','몽룡'])
x

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

In [40]:
# Series index를 속성처럼 활용
ser['x'],ser.x

(nan, nan)

In [41]:
d = {'a':1, 'b':2, 'c':3}
ser = pd.Series(data=d, index=['c', 'a', 'b'])
ser

c    3
a    1
b    2
dtype: int64

In [42]:
ser.a, ser.b, ser.c

(1, 2, 3)

In [43]:
# Series의 특징 : in 연산도 가능, items()도 가능
'서울'in s # 인덱스 레이블 중에 서울이 있는가

True

In [44]:
"대전" in s

False

In [45]:
for k, v in s.items():
    print(f"{k}, {v}")

서울, 9904312
부산, 3448737
인천, 2890451
대구, 2466052

In [46]:
test = dict(zip(range(10), list("영일이삼사오육칠팔구")))
test

{0: '영',
 1: '일',
 2: '이',
 3: '삼',
 4: '사',
 5: '오',
 6: '육',
 7: '칠',
 8: '팔',
 9: '구'}

In [48]:
#dict
for k, v in test.items():
    print(f"{k}, {v}")

0, 영
1, 일
2, 이
3, 삼
4, 사
5, 오
6, 육
7, 칠
8, 팔
9, 구

In [49]:
"영" in test.values()

True

In [52]:
'서울'in s

True

In [54]:
for k, v in s.items():
    print(f"{k},{v}")

서울,9904312
부산,3448737
인천,2890451
대구,2466052

In [58]:
for k, v in s.items():
    if v>3000000:
        print(f"{k}의 인구는 300만이 넘습니다.")

서울의 인구는 300만이 넘습니다.
부산의 인구는 300만이 넘습니다.

In [59]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [60]:
s[1],s["부산"]

(3448737, 3448737)

In [61]:
s[3],s["대구"]

(2466052, 2466052)

In [62]:
s[["서울", "부산", "대구"]]

도시
서울    9904312
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [63]:
s[[0,3,1]] # 인덱싱 가능

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [64]:
s[[0]]

도시
서울    9904312
Name: 인구, dtype: int64

In [67]:
s[[2]]

도시
인천    2890451
Name: 인구, dtype: int64

In [70]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울','부산','인천','대구'])
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [71]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [72]:
s["부산":"대구"] # 문자는 슬라이싱 그 포함

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [73]:
# Series index 기반 연산

s2 = pd.Series({"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [76]:
ds = s-s2  
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [77]:
ds.isnull()  # NaN = True, NaN != False 반대의미 notnull()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [78]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [79]:
ds[ds.notnull()]   # bool indexing

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [80]:
s[s>3000000]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [81]:
rs = (s-s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [83]:
xy = s-s2
xy = xy[xy.notnull()]
xy

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [109]:
xy[[xy.argmax()]] # xy[[xy.values.argmax()]]

서울    272830.0
dtype: float64

In [113]:
# Series 데이터 추가, 갱신, 삭제
rs["부산"] = 1.63    # 데이터 갱신: 기존 index에 값만 할당

In [114]:
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [120]:
rs["서울"]=2.83  #rs[1]=2.82   # rs["서울":"인천"]=(2.83,9.82)
rs["인천"]=9.82  #rs[2]=9.82    # 슬라이싱된 개수==바꿀 값 개수가 같아야 한다.

In [121]:
rs

부산    1.63
서울    2.83
인천    9.82
dtype: float64

In [122]:
rs["대구"]=1.41 # 추가

In [123]:
rs

부산    1.63
서울    2.83
인천    9.82
대구    1.41
dtype: float64

In [124]:
# 삭제 
del rs["서울"]
rs

부산    1.63
인천    9.82
대구    1.41
dtype: float64

In [134]:
ser_finance1 = pd.Series({"카카오":60010,"삼성전자":61000,"LG전자":90000})
ser_finance2 = pd.Series([60200,61200,200100],
                         index = ["카카오","삼성전자","네이버"])
ser_finance1,ser_finance2

(카카오     60010
 삼성전자    61000
 LG전자    90000
 dtype: int64,
 카카오      60200
 삼성전자     61200
 네이버     200100
 dtype: int64)

In [ ]:
ser_finance = pd.Series(fin1)
ser_finance = pd.Series([values], index = [index])

In [137]:
s = ser_finance1
s2 = ser_finance2

In [151]:
print(s-s2)
print(s+s2)
print(s*s2)
print(s/s2)

LG전자      NaN
네이버       NaN
삼성전자   -200.0
카카오    -190.0
dtype: float64
LG전자         NaN
네이버          NaN
삼성전자    122200.0
카카오     120210.0
dtype: float64
LG전자             NaN
네이버              NaN
삼성전자    3.733200e+09
카카오     3.612602e+09
dtype: float64
LG전자         NaN
네이버          NaN
삼성전자    0.996732
카카오     0.996844
dtype: float64

In [158]:
result=s-s2
result[result.notnull()]

삼성전자   -200.0
카카오    -190.0
dtype: float64

In [ ]:
# DataFrame class : 판다스의 주요 데이터 구조이다. 
                  # : label된 row와 column(산술 연산 적용), 두 개의 축을 갖는 데이터 구조
    # series 객체를 갖는 dict라고 생각하면 비슷
첫 인자로 data, 두 번째 인자로 index를 전달한다.

In [ ]:
class pandas.DataFrame(date=None, index=None, columns=None,dtype=None, copy=None)

In [ ]:
1. 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비
2. 각각의 열에 대한 이름을 키로 가지는 딕셔너리 만듬
3. 이 데이터를 클래스 생성자에 넣는다. 동시에 열방향 index는 columns인수로 행방향 index는 index 인수로 넣

In [159]:
d = {'col1': [1,2], 'col2':[3,4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [2]:
data = {
    "2015" : [9904312, 3448737, 2890451, 2466052],
    "2010" : [9631482, 3393191, 2632035, 2431774],
    "2005" : [9762546, 3512547, 2517680, 2456016],
    "2000" : [9853972, 3655437, 2466338, 2473990],
    "지역" : ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율" :[0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index = index, columns = columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [161]:
df.dtypes

지역                object
2015               int64
2010               int64
2005               int64
2000               int64
2010-2015 증가율    float64
dtype: object

In [162]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [163]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [164]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [165]:
df.index.name = '도시'
df

     지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [190]:
# 배달 통계
data = {
    "하루에 2회이상" : [1,1,1,1,2,0],
    "매일 한번 정도" : [5,8,6,5,4,1],
    "3~4일에 한번" : [18,26,26,20,9,11],
    "횟수" : [1,5,18,0,18,5],
    "연령" : ['18-29',20,40,50,60,70],
    "사례수":[154,138,154,135,163,170]
}
columns = ["연령","사례수","하루에 2회이상","매일 한번 정도","3~4일에 한번","횟수"]
index = [1,2,3,4,5,6]
af = pd.DataFrame(data, columns=columns, index=index)
af

      연령  사례수  하루에 2회이상  매일 한번 정도  3~4일에 한번  횟수
1  18-29  154         1         5        18   1
2     20  138         1         8        26   5
3     40  154         1         6        26  18
4     50  135         1         5        20   0
5     60  163         2         4         9  18
6     70  170         0         1        11   5

In [3]:
# "2010-2015 증가율"이라는 이름의 열의 값을 갱신
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [4]:
type(df["2010-2015 증가율"])

pandas.core.series.Series

In [5]:
#"2005-2010 증가율"이라는 이름의 열 추가
df["2005-2010 증가율"] = ((df["2010"]-df["2005"]) / df["2005"] *100).round(2)
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [6]:
# "2010-2015 증가율"이라는 이름의 열 삭제
del df["2010-2015 증가율"]
df

     지역     2015     2010     2005     2000  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [7]:
# 하나의 column만 인덱싱하면 Series가 반환된다.
df["지역"]

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [8]:
df["2010"]

서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [9]:
type(df["2010"])

pandas.core.series.Series

In [10]:
# 여러 개의 columns을 인덱싱하면 부분적인 DataFrame이 반환된다.
df[["2010","2015"]]

       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [11]:
df[["2010"]] # 하나의 값만이라도 결과 데이터 프레임을 나온다.

       2010
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [12]:
df[0] # column index가 문자열 label일 때는 순서를 나타내는 정수 index를 인덱싱에 사용할 수 없다.
# index가 문자열인데 정수 index를 넣으면 KeyError 오류가 발생한다.

KeyError: 0

In [13]:
df2 = pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
df2[2] # column 단위로 나옴

0     2
1     6
2    10
Name: 2, dtype: int32

In [15]:
df2[[1,2]]

   1   2
0  1   2
1  5   6
2  9  10

In [16]:
#row 슬라이싱 : row 단위로 인덱싱을 하고자 하면 항상 슬라이싱을 해야한다. index 값이 문자여도 가능하다.

df

     지역     2015     2010     2005     2000  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [17]:
df[:1]

     지역     2015     2010     2005     2000  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [18]:
df[1:2]

     지역     2015     2010     2005     2000  2005-2010 증가율
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [19]:
df["부산":"부산"]

     지역     2015     2010     2005     2000  2005-2010 증가율
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [20]:
df["2015"]["서울"]

9904312

In [ ]:
# 개별 데이터 인덱싱 역순 at 이란 함수 쓰면 됨

In [21]:
data = {
"국어": [80, 90, 70, 30],
"영어": [90, 70, 60, 40],
"수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [22]:
#(1)
df["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [32]:
#(2)
df[["국어","영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [47]:
#(3)
df["평균 점수"] = round((df["국어"]+df["영어"]+df["수학"])/3,2)
df

    국어  영어  수학  평균 점수
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [48]:
#(4)
df[:1]

    국어  영어  수학  평균 점수
춘향  80  90  90  86.67

In [49]:
#(5)
df.T["향단"]    # transpose 전치하는 거?  df.loc[index]

국어       70.0
영어       60.0
수학       80.0
평균 점수    70.0
Name: 향단, dtype: float64

In [67]:
np.random.seed(0)
values = np.random.randn(6,4)
index = pd.date_range("20130226",periods=6)
columns = ["A","B","C","D"]
x = pd.DataFrame(values, index,columns)
x

                   A         B         C         D
2013-02-26  1.764052  0.400157  0.978738  2.240893
2013-02-27  1.867558 -0.977278  0.950088 -0.151357
2013-02-28 -0.103219  0.410599  0.144044  1.454274
2013-03-01  0.761038  0.121675  0.443863  0.333674
2013-03-02  1.494079 -0.205158  0.313068 -0.854096
2013-03-03 -2.552990  0.653619  0.864436 -0.742165